.homeimg {
    clear: both;
    margin-bottom: 1.5em;
}


.bienvenidos, .testimonios {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;

}

.bienvenidos {
    width: 100%;
    font-size: 1em;
    float:none;
    padding: 2em;
    background-color: #df8b3d;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 10px
}

.bienvenidos p{
    margin: 1rem 0;
}

.cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curso {
    width: 29%;
    display: inline-block;
    padding: 1em;

}

.curso {
    background-color: rgb(218, 218, 218);
    margin: 1rem;
    border-radius: 3px
  }
  
  
  .curso img {
    width: 100%
  }
  
  .curso h1 {
    float: left;
    font-size: 16px;  
  }
  
  .eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .eventos h3{
    padding: 0 4rem;
    text-align: center;
    margin-top: 2rem;
  }

  .contact {
    background-color: #df8b3d;
    padding: 1rem 3rem;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 2rem 0 0 0;
  }
  
  #check:hover {
    background-color: #b16a28;
  }



.box
{
    position: relative;
    width: 40%;
    height: 400px;
    border-radius: 10px;
    background: #000;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transition: .5s;
    margin: 2rem 0;
}

.box:hover
{
    transform: scale(1.03);
    z-index: 1;
    box-shadow: 0 50px 50x rgba(0,0,0,.5);
}

.imgbox{
    height: 100%;
}

.box .imgbox
{
    position: relative;
}

.box .imgbox img
{
    transition: .5s;
    height: 100%;
}

.box:hover .imgbox img
{
   opacity: .5;
   
}

.box .content
{
    position: absolute;
    bottom: -40px;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;
    
}

.box:hover .content
{
    opacity: 1;
    bottom: 0;
}

.box .content h3
{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}

.box .content p
{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.content a{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.imgbox img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.box a {
    text-decoration: none
}

.mainpageflex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#online{
    padding: 1rem 4rem;
}

#online h3{
    text-align: center;
}


