.buttonmodal {
    border-width: 0px;
    display: flex;
}

.modal h1 {
    
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1rem
}

.modal h2 {
    font-size: 1.2rem;
    
}

.modal ul {
    margin-bottom: 1rem;
}


.modal h3 {
    color: #b16a28;
    font-size: 1.2rem
}
